<!DOCTYPE html>
<html>
  <head>
    <title>Copro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <h1>User_id : <%= session[:user_id] %></h1>
      <form action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        <input type="hidden" name="_method" value="delete">
        <button>Log out</button>
      </form>
    <% else %>
        <a href="/login">Log in</a>
    <% end %>
    <%= yield %>
  </body>
</html>
