<link rel="stylesheet" href="/stylesheets/movie.css">

<div class="head">
  <h1 class="title">Title : <%= @movie["Title"]%></h1>
</div>

<div class="main">
  <div class="poster">
    <img src="<%= @movie["Poster"] %>" alt="">
  </div>
  <div class="detail">
    <h3>Year: <span><%= @movie["Year"]%></span></p>
    <p>Released: <span><%= @movie["Released"]%></span></p>
    <p>Runtime: <span><%= @movie["Runtime"]%></span></p>
    <p>Genre: <span><%= @movie["Genre"]%></span></p>
    <p>Director: <span><%= @movie["Director"]%></span></p>
    <p>Awards: <span><%= @movie["Awards"]%></span></p>
    <!-- <p>Ratings: </p>
    <p><span><#%= @movie["Ratings"][0]["Source"] %> : <#%= @movie["Ratings"][0]["Value"] %></span></p>
    <p><span><#%= @movie["Ratings"][1]["Source"] %> : <#%= @movie["Ratings"][1]["Value"] %></span></p> -->
    <a href="/">Go Back</a>
  </div>

</div>

<div class="plot">
  <p>Plot: <span><%= @movie["Plot"]%></p>
</div>
